@model SmartHouse.Models.TemperatureHumidityData

@{
    ViewBag.Title = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="http://ticket-compare.com/wp-content/themes/ticket-compare/js/jquery.canvasjs.min.js"></script>
    <script src="~/Scripts/jquery.canvasjs.min.js"></script>

    <script type="text/javascript">
        window.onload = function () {

            // Initial Values
            var dataPoints = [];
            var xValue = 0;
            var yValue = 10;
            var newDataCount = 6;
            var dateChanged = false;
            var chartTitle = "Temperature evolution today";

            var dataPointsMotionDetection = [];
            var dataPointsSoundDetection = [];
            var dataPointsGasDetection = [];

            var chartTemperatureByDay = new CanvasJS.Chart("chartTemperatureEvolutionToday", {
                theme: "light2",
                zoomEnabled: true,
                zoomType: "xy",
                animationEnabled: true,
                title: {
                    text: chartTitle
                },
                toolTip: {
                    enabled: true,
                    contentFormatter: function (e) {
                        return "Temperature: " + e.entries[0].dataPoint.y + "°C <br>Hour: " + e.entries[0].dataPoint.x.toLocaleTimeString('en-GB') + "<br>Date: " + e.entries[0].dataPoint.x.toLocaleDateString('en-GB');
                    }
                },
                axisX: {
                    title: "Time",
                    intervalType: "minute",
                    interval: 30,
                    valueFormatString: "H:mm"
                },
                axisY: {
                    title: "Temperature (in °C)"
                },
                data: [{
                    type: "spline",
                    dataPoints: dataPoints
                }]
            });
            updateData();

            function addData(data) {
                $.each(data, function (key, value) {
                    if (key == xValue) {
                        dataPoints.push({ x: new Date(new Date(value.x).getFullYear(), new Date(value.x).getMonth(), new Date(value.x).getDate(), new Date(value.x).getHours(), new Date(value.x).getMinutes(), new Date(value.x).getSeconds()), y: value.y });
                        xValue++;
                        yValue = parseInt(value[1]);
                    }
                });

                chartTemperatureByDay.render();
            }

            function updateData() {

                if (dateChanged) {

                    clearTimeout();

                    var filter = {
                        "DateMinValue": $('#TemperatureEvolutionDateTextBox').val()
                    };

                    $.ajax({
                        url: '@Url.Action("JSONTemperatureChartAnotherDay", "Home")',
                        method: 'GET',
                        data: filter,
                        dataType: 'json',
                        success: function (response) {
                            addData(response);
                        }
                    });
                }
                else {
                    setTimeout(updateData, 1500);

                    $.get("/home/JSONTemperatureChartToday", function (data) {
                        addData(data);
                    });
                }
            }

            $('#TemperatureEvolutionDateTextBox').change(function () {
                // Initial Values
                xValue = 0;
                yValue = 10;
                newDataCount = 6;
                dataPoints = [];
                setTimeout(updateData, 1500);

                var date = $('#TemperatureEvolutionDateTextBox').val();

                if (date == '') {
                    dateChanged = false;
                    chartTitle = "Temperature evolution today";
                }
                else {
                    dateChanged = true;
                    chartTitle = "Temperature evolution on " + new Date(date).toLocaleDateString('en-GB');
                }

                chartTemperatureByDay = new CanvasJS.Chart("chartTemperatureEvolutionToday", {
                    theme: "light2",
                    zoomEnabled: true,
                    zoomType: "xy",
                    animationEnabled: true,
                    title: {
                        text: chartTitle
                    },
                    toolTip: {
                        enabled: true,
                        contentFormatter: function (e) {
                            return "Temperature: " + e.entries[0].dataPoint.y + "°C <br>Hour: " + e.entries[0].dataPoint.x.toLocaleTimeString('en-GB') + "<br>Date: " + e.entries[0].dataPoint.x.toLocaleDateString('en-GB');
                        }
                    },
                    axisX: {
                        title: "Time",
                        intervalType: "minute",
                        interval: 30,
                        valueFormatString: "H:mm"
                    },
                    axisY: {
                        title: "Temperature (in °C)"
                    },
                    data: [{
                        type: "spline",
                        dataPoints: dataPoints
                    }]
                });
            });    


            var chartMotionDetection = new CanvasJS.Chart("chartMotionDetection", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Motion detection"
                },
                axisY: {
                    title: "Number of times"
                },
                data: [{
                    type: "column",
                    dataPoints: dataPointsMotionDetection
                }]
            });
            updateDataMotionDetection();


            function updateDataMotionDetection() {

                $.get("/home/JSONMotionDetection", function (data) {
                    addDataMotionDetection(data);
                });
            }

            function addDataMotionDetection(data) {
                $.each(data, function (key, value) {
                    dataPointsMotionDetection.push({ y: value.y, label: value.xMonth });
                });

                chartMotionDetection.render();
            }


            var chartSoundDetection = new CanvasJS.Chart("chartSoundDetection", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Sound detection"
                },
                axisY: {
                    title: "Number of times"
                },
                data: [{
                    type: "column",
                    dataPoints: dataPointsSoundDetection
                }]
            });
            updateDataSoundDetection();


            function updateDataSoundDetection() {

                $.get("/home/JSONSoundDetection", function (data) {
                    addDataSoundDetection(data);
                });
            }

            function addDataSoundDetection(data) {
                $.each(data, function (key, value) {
                    dataPointsSoundDetection.push({ y: value.y, label: value.xMonth });
                });

                chartSoundDetection.render();
            }

            var chartGasDetection = new CanvasJS.Chart("chartGasDetection", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Gas detection"
                },
                axisY: {
                    title: "Number of times"
                },
                data: [{
                    type: "column",
                    dataPoints: dataPointsGasDetection
                }]
            });
            updateDataGasDetection();


            function updateDataGasDetection() {

                $.get("/home/JSONGasDetection", function (data) {
                    addDataGasDetection(data);
                });
            }

            function addDataGasDetection(data) {
                $.each(data, function (key, value) {
                    dataPointsGasDetection.push({ y: value.y, label: value.xMonth });
                });

                chartGasDetection.render();
            }
        }
    </script>
</head>
<body>
    <div class="w3-row-padding w3-margin-bottom">
        <label><span>Date </span></label>

        @Html.TextBox("TemperatureEvolutionDate", "", new { id = "TemperatureEvolutionDateTextBox", style = "width:150px; background:#7f9be7", @type = "date" })

        <div id="chartTemperatureEvolutionToday" style="height: 370px; width: 100%;"></div>
    </div>
    <br />
    <div class="w3-row-padding w3-margin-bottom">
        <div id="chartMotionDetection" style="height: 370px; width: 100%;"></div>
    </div>
    <br />
    <div class="w3-row-padding w3-margin-bottom">
        <div id="chartSoundDetection" style="height: 370px; width: 100%;"></div>
    </div>
    <br />
    <div class="w3-row-padding w3-margin-bottom">
        <div id="chartGasDetection" style="height: 370px; width: 100%;"></div>
    </div>
</body>
</html>


